html {
    font-size: 62.5%;
}

body {
    background-color: #f5f5f5; 
    font-family: 'Arial',sans-serif;
}

header{
    float: left;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid slateblue;
}

.main-container {
    display: block;
    width: 100vw;
    margin: 0 auto;
}

.container {
    display: block;
    float: left;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

section {
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
}

section nav {
    display: block;
    float: left;
    width: 20%;
}

nav li {
    background-color: #efefef;
    margin: 1px 10px 1px 0;
    padding: 10px;
}

nav li:hover {
    background-color: #dfdfdf;
}

nav a {
    text-decoration: none;
    color: #254159;
}

nav a:hover {
    color: #385874;
}


section article {
    display: block;
    float: left;
    width: 70%;
}

.links{
    padding: 10px;
    font-size: 2rem;
}

.texto{
    font-size: 1.5rem;
    text-align: justify;
    padding: 20px;
}

.titulo{
    font-size: 2rem;
    font-family: roboto,sans-serif;
    font-weight: bold;
    font-style: italic;
    color: darkslateblue;
    margin-bottom: 10px;
}

p{
    margin-bottom: 20px;
    line-height: 1.4;
    color: #333;
}

.lista{
    margin-bottom: 20px;
    line-height: 1.4;
    color: #333;
    padding: 35px;
}

.preencher{
    font-size: 1.5rem;
    text-align: center;
    color: #333;
    width: 100%;

}

img {
    max-width: 100%;
    height: auto;
}

.titulo2{
    font-size: 2.5rem;
    font-family: roboto,sans-serif;
    font-weight: bold;
    font-style: italic;
    color: darkslateblue;
    text-align: center;
}

.texto2{
    font-size: 1.5rem;
    text-align: center;
}

footer {
    background-color: #254159;  
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
}

footer p {
    color: #ffffff;
    font-size: 1.4rem;
}

footer small {
    font-size: 80%;
    display: block;
}

.cognito {
    height: 360px !important;
    overflow: hidden !important;
}

/* Configuração Tablet */
@media (max-width: 768px){

    section{
        padding: 10px;
    }

    section nav{
        width: 100%;
    }

    nav li {
        background-color: darkslateblue;
        padding: 5px;
     }

     nav li:hover {
        background-color: whitesmoke;
    }

    .links{
        padding: 5px;
        font-size: 1.5rem;
    }

    .texto{
        font-size: 1.2rem;
        padding: 10px;
    }

    .titulo{
        font-size: 1.5rem;
    }

     nav a {
        color: white;
    }

    nav a:hover {
        color: darkslateblue;
    }

    section article{
        width: 100%;
    }
}

/* Configuração smartphone*/
@media (max-width: 320px){
    section{
        padding: 10px;
    }

    section nav{
        width: 100%;
    }

    nav li {
        background-color: black;
     }

     nav li:hover {
        background-color: whitesmoke;
    }

    .links{
        padding: 5px;
        font-size: 1.2rem;
    }

    .texto{
        font-size: 1.2rem;
        padding: 10px;
    }

    p{
        line-height: 1;
        margin-bottom: 10px;
    }

    .lista{
        line-height: 1;
        padding: 10px;
    }

    .texto2{
        font-size: 1.2rem;
        text-align: center;
    }

    .titulo{
        font-size: 1.5rem;
    }

     nav a {
        color: white;
    }

    nav a:hover {
        color: darkslateblue;
    }

    section article{
        width: 100%;
    }
    
    footer {
        background-color: black;  
    }

    footer p {
        font-size: 1rem;
    }
}