/* Configurando a calculadora */

input{
  display: block;
  margin: 10px;
  font-family: 'lucida console', monospace;
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

h1{
  font-family: roboto, serif;
  font-size: 1rem;
  font-weight: normal;
}

body{
  background: slateblue;
  color: white;
  font-family: 'lucida console', monospace;
  font-weight: bold;
  
 }

button{
  margin: 10px;
  background: darkslategray;
  color: yellow;
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}