body{
	background: blueviolet;
}

span{
	margin-left: 550px;
}

h1{
	font-size: 2rem;
	font-family: roboto,sans-serif;
	text-shadow: 2px 2px 5px black;
	color: white;
	text-align: center;
}

p{
	font-size: 1.5rem;
	font-family: roboto,sans-serif;
	color: white;
	text-align: center;
}

h2{
	font-size: 1.5rem;
	font-family: roboto,sans-serif;
	color: yellow;
	text-align: center;
}

footer p{
	font-size: 0.8rem;
	text-decoration-line: underline;
	color: white;
	font-style: italic;

}